<div align="left">
<p>Número de preguntas: <%=statistics.numero_preguntas %></p>
<p>Número de comentarios: <%=statistics.numero_comentarios %></p>
<p>Número medio de comentarios por pregunta: <%=statistics.media_comentarios %></p>
<p>Número de preguntas sin comentarios: <%=statistics.preguntas_sin_coment %></p>
<p>Número de preguntas con comentarios: <%=statistics.preguntas_con_coment %></p>
</div>
